{
    "extends": [
      "react-app",
      "prettier",
      "airbnb",
      "react-app/jest"
    ],
    "env": {
      "jest": true
    },
    "globals": {
      "document": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
        "linebreak-style": 0
      }
  }

  