.navbar{
    background-color: lightblue;
    color: white;
    .navbar-list{
        display: flex;
        li{
            padding: 10px 20px;
        }
    }
    .small-profilephoto-container{
        margin-top: 5px;
    }
    & > * {
        cursor: pointer;
    }
}